---
import AnimatedDot from "../components/animatedDot";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="prose mx-auto dark:prose-invert px-2">
    <h1
      class="flex flex-row mb-0 text-center text-6xl font-bold text-neutral lg:text-9xl dark:text-white"
    >
      Courses <AnimatedDot client:only />
    </h1>

    <h2><a href="test">test</a></h2>
    <p>descirption descriotd dfadf adsf</p>
    <div class="divider"></div>
  </div>
</Layout>
