---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import AnimatedBg from "../components/animatedBg";
---

<Layout title="Welcome to Astro.">
  <div
    class="z-0 flex h-screen w-screen max-w-full items-center justify-center overflow-hidden"
  >
    <AnimatedBg client:only />
    <Hero />
  </div>
</Layout>
