---
interface Props {
  title: string;
}
import Navbar from "../components/navbar";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
      integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen h-max w-screen">
    <div
      class="sm:prose-xl prose mx-auto py-4 pb-24 px-2 prose-table:overflow-auto prose-table:max-w-sm"
    >
      <slot />
    </div>
    <!-- <div class="fixed bottom-2 w-screen flex justify-center">
      <Navbar />
    </div> -->
  </body>
</html>
<style is:global>
  mjx-container {
    display: inline-block;
  }
  img {
    @apply invert;
  }
  img.video {
    @apply invert-0;
  }
</style>
