---
interface Props {
  title: string;
}
import Navbar from "../components/navbar";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
      integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen h-max bg-white dark:bg-base-100 w-screen">
    <div
      class="prose sm:prose-xl mx-auto text-black dark:text-neutral-content py-4 pb-24 px-2"
    >
      <slot />
    </div>
    <div class="fixed bottom-2 w-screen flex justify-center">
      <Navbar />
    </div>
  </body>
</html>
