---
import AnimatedDot from "../../components/animatedDot";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="prose mx-auto px-2 min-h-screen h-max w-screen">
    <h1 class="flex flex-row mb-0 items-end text-6xl font-bold lg:text-7xl">
      FEE2<AnimatedDot client:only />
    </h1>

    <!-- <h2><a href="/courses/Calculus 2/Course 1">Course 1</a></h2> -->
  </div>
</Layout>
